.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.nav__link {
  color: var(--text-color);
  font-size: 1.25rem;
  padding: 0.4rem;
  display: flex;
  border-radius: 5rem;
}
