.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: 100;
}

.scroll__header {
  box-shadow: 0 4px 4px hsla(0, 4%, 4%, 0.3);
}

nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--first-color);
  font-weight: var(--font-medium);
  transition: 0.4s;
}

.nav__logo:hover {
  color: var(--first-color-alt);
}

.theme {
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.3s;
}

.theme:hover {
  color: var(--first-color);
}
